<h1>D'Vine</h1>
<br>
<a class="btn btn-primary btn-lg btn-block" href="<%= restaurants_path %>" role="button">View Restaurants »</a>
<br>
<a class="btn btn-primary btn-lg btn-block" href="<%= new_restaurant_path %>" role="button">Enter New Restaurants »</a>
